#epk {
  h1 {
    display: none;
  }
  h2,
  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      background: #000;
    }
  }
  iframe {
    width: 100%;
    max-width: 700px;
    max-height: 890px;
    aspect-ratio: 0.65;
    border: none;
    margin: 0 auto;
    @media (min-width: 335px) {
      aspect-ratio: 0.7;
    }
    @media (min-width: 425px) {
      aspect-ratio: 0.75;
    }
    @media (min-width: 550px) {
      aspect-ratio: 0.8;
    }
    @media (min-width: 650px) {
      aspect-ratio: 0.83;
    }
    @media (min-width: 960px) {
      aspect-ratio: 0.75;
    }
    @media (min-width: 1100px) {
      aspect-ratio: 0.8;
    }
  }
  hr {
    opacity: 0.3;
  }

  #epk-grid {
    padding: 1rem;
    text-align: center;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr;
    @media (min-width: 768px) and (max-width: 959px) {
      padding: 3rem 1rem;
      max-width: 700px;
      margin: 0 auto;
      #receive-logo {
        max-width: 75%;
        margin: 0 auto 1em auto;
      }
    }
    @media (min-width: 960px) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    @media (min-width: 1280px) {
      gap: 5em;
    }
  }
  .epk-info,
  .epk-media {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .epk-logo {
    a {
      white-space: nowrap;
    }
    a:first-of-type {
      display: block;
    }
    .divider {
      display: none;
    }
    @media (min-width: 450px) {
      a:first-of-type {
        display: inline;
      }
      .divider {
        display: inline;
      }
    }
  }

  .epk-mobile-pic,
  .epk-listen-mobile,
  #divider-two {
    @media (min-width: 960px) {
      display: none;
    }
  }

  .epk-socials ul,
  .epk-listen-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    svg,
    img {
      width: 3rem;
      height: 3rem;
      fill: #fff;
    }
    .small-icon {
      svg,
      img {
        width: 2.3rem;
        height: 2.3rem;
        margin: 0.35rem;
      }
    }
    a {
      svg {
        fill: #fff;
      }
      &:hover {
        svg {
          fill: #000;
        }
        img {
          filter: invert(1);
        }
      }
    }
  }

  .epk-socials-contact {
    margin-top: 1rem;
    display: block;
  }

  .epk-bio {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .epk-press {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .epk-pdf {
    font-size: 1.5rem;
  }
  .epk-contact-footer {
    @media (min-width: 425px) {
      font-size: 1.5rem;
    }
  }

  .epk-listen-desktop {
    display: none;
    @media (min-width: 960px) {
      display: block;
    }
  }
  .epk-pics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }
}
