#home {
    display: grid;
    gap: 1em;
    padding-bottom: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'image'
        'about'
        'shows'
        'posts'
        'tabs';
    @media (min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'image image image image'
            'logo logo logo logo'
            'about about shows shows'
            'posts posts posts tabs';
    }
    .logo {
        grid-area: logo;
        opacity: 1;
        padding-top: 15%;
        margin-bottom: -80%;
        position: relative;
        z-index: 2;
        overflow: hidden;
        img {
            transform: scale(1.5);
            mix-blend-mode: color-dodge;
            opacity: 0.5;
        }
        @media (max-width: $md) {
            background: url('/header-mobile.jpg') center center no-repeat;
            background-size: cover;
        }
        @media (min-width: $md) {
            opacity: 0.2;
            background: none;
        }
    }
    .image {
        grid-area: image;
        margin-top: -1em;
        .header-desktop {
            display: none;
            @media (min-width: $md) {
                display: block;
            }
        }
        .header-mobile {
            display: block;
            opacity: 1;
            @media (min-width: $md) {
                display: none;
            }
        }
    }
    .about,
    .shows,
    .posts,
    .opentabs {
        z-index: 2;
        @media (max-width: $md) {
            padding: 0 1em;
        }
    }
    .about {
        grid-area: about;
        ul {
            margin-top: 1em;
        }
    }
    .shows {
        grid-area: shows;
    }
    .posts {
        grid-area: posts;
    }
    .opentabs {
        grid-area: tabs;
    }

    .show {
        display: grid;
        grid-template-columns: 1fr;
        div {
            display: inline;
        }
        & + .show {
            margin-top: 2em;
            padding-top: 1.5em;
            border-top: 1px solid #666;
        }
        @media (max-width: $md) {
            .show-details {
                font-style: italic;
                margin-bottom: 1em;
            }
            .show-links,
            .show-notes {
                display: block;
                a {
                    text-decoration: underline;
                }
            }
        }
        @media (min-width: $md) {
            grid-template-columns: 2fr 6fr 2fr;
            gap: 1em;
            align-items: center;
            background: rgba(0, 0, 0, 0.3);
            .show-date {
                background: #000;
                border-radius: 0.5em;
                text-align: center;
                display: grid;
                grid-template-columns: 1fr;
                align-content: center;
                margin: 1em 1em 1em 0;
                aspect-ratio: 1 / 1;
                .date-month {
                    font-weight: 400;
                    text-transform: lowercase;
                    font-size: 2em;
                    line-height: 1em;
                }
                .date-day {
                    font-size: 1.2em;
                }
            }
            .show-details {
                .show-where {
                    font-size: 1.1em;
                    .show-venue {
                        font-weight: bold;
                        font-size: 1.2em;
                    }
                }
                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .post {
        & + .post {
            margin-top: 2em;
            padding-top: 1.5em;
            border-top: 1px solid #666;
        }
        .post-header {
            margin-bottom: 1em;
        }
        .post-text {
            margin-bottom: 1em;
        }
        .post-links {
            a {
                text-decoration: underline;
                display: block;
            }
        }
    }
}
