#home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas:
        'image image image image'
        'logo logo logo logo'
        'about about shows shows'
        'posts posts posts tabs';
    .logo {
        grid-area: logo;
        opacity: 0.2;
        transform: scale(1.1);
        margin-top: -10%;
        margin-bottom: -100%;
    }
    .image {
        grid-area: image;
    }
    .about {
        z-index: 2;
        grid-area: about;
    }
    .shows {
        z-index: 2;
        grid-area: shows;
    }
    .posts {
        z-index: 2;
        grid-area: posts;
    }
    .tabs {
        z-index: 2;
        grid-area: tabs;
    }
}
