#shows {
    display: grid;
    gap: 2em;
    padding-bottom: 1em;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo'
        'image'
        'upcoming'
        'previous';
    @media (min-width: 1024px) {
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        grid-template-areas:
            'image'
            'logo'
            'upcoming'
            'previous';
    }

    .upcoming,
    .previous {
        z-index: 2;
    }
    @media (max-width: 1280px) {
        .upcoming,
        .previous {
            padding: 0 1em;
        }
    }

    .upcoming {
        grid-area: upcoming;
        .toptext {
            margin-bottom: 1em;
        }
        .show-list {
            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
        .show {
            display: grid;
            grid-template-columns: 1fr;
            div {
                display: inline;
            }
            & + .show {
                margin-top: 2em;
                padding-top: 1.5em;
                border-top: 1px solid #666;
            }
            grid-template-columns: 1fr;
            grid-template-areas: 'details' 'flyer';
            gap: 1em;
            align-items: center;
            .show-flyer {
                grid-area: flyer;
                display: grid;
                grid-template-columns: 1fr;
                gap: 1em;
                img {
                    min-width: 100%;
                }
            }
            .show-details {
                grid-area: details;
                display: flex;
                gap: 1em;
                justify-items: start;
                align-items: center;
                .show-when {
                    text-align: center;
                    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
                        -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
                    border: 0.1em solid rgba(0, 0, 0, 0.5);
                    background-image: linear-gradient(
                        45deg,
                        hsl(285deg 96% 38%) 0%,
                        hsl(291deg 100% 32%) 24%,
                        hsl(296deg 100% 27%) 35%,
                        hsl(302deg 100% 24%) 45%,
                        hsl(307deg 100% 22%) 55%,
                        hsl(311deg 100% 19%) 65%,
                        hsl(315deg 100% 17%) 76%,
                        hsl(319deg 95% 14%) 100%
                    );
                    color: #fff;
                    border-radius: 0.5em;
                    display: inline-block;
                    width: auto;
                    padding: 1em;
                    aspect-ratio: 1 / 1;
                    .show-when-wrapper {
                        display: grid;
                        align-content: center;
                        grid-template-columns: 1fr;
                    }
                    .show-month {
                        font-weight: 400;
                        text-transform: lowercase;
                        font-size: 1.5em;
                        line-height: 1em;
                    }
                    .date-day {
                        font-size: 1.2em;
                    }
                }
                .show-where {
                    font-size: 1.1em;
                    .show-venue {
                        font-weight: bold;
                        font-size: 1.2em;
                        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
                            -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
                    }
                }
                .show-links,
                .show-notes {
                    display: block;
                }
                a {
                    text-decoration: underline;
                }
            }
        }
    }

    .previous {
        grid-area: previous;
        .show-list {
            @media (min-width: 768px) {
                /* display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
            }
        }
    }
}

.uhhh {
    ul {
        list-style-type: disc;
        margin-left: 1.4em;
        li {
            margin-bottom: 1em;
        }
        strong {
            font-size: 1.5em;
        }
        a {
            text-decoration: underline;
        }
        .date {
            font-size: 1.5em;
        }
        .links span + span::before {
            content: ', ';
        }
    }
}
