$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

header {
}

// main
body {
    min-height: 100vh;
    background-color: #000;
    background-image: linear-gradient(45deg, #000000, #7a3f58);
    color: #fff2f7;
    #background-wrapper {
        overflow: hidden;
    }

    /* border: 5px solid #000; */
    /* @media (min-width: $sm) { border: 5px solid #0f0; } */
    /* @media (min-width: $md) { border: 5px solid #0ff; } */
    /* @media (min-width: $lg) { border: 5px solid #ff0; } */
    @media (min-width: $xl) { border: 5px solid #00f; }
    @media (min-width: $xxl) { border: 5px solid #0f0; }
}

nav {
    color: #fff2f7;
}

main {
    @apply mx-auto;
    max-width: $xl;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}
