$font-header: sans-serif;
$font-body: serif;

header {
    font-family: $font-header;
    font-weight: 300;
    nav {
        font-weight: 100 !important;
    }
}

main {
    font-family: $font-body;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
    font-weight: 700;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}
