@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --dui-themes: lofi;
}

html {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-color: hsla(340, 37%, 12%, 1);
  background-image: radial-gradient(
      at 79% 43%,
      hsla(4, 39%, 11%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 78% 67%, hsla(336, 39%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 70%, hsla(352, 39%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 11% 95%, hsla(42, 39%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 20% 26%, hsla(34, 39%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 54% 42%, hsla(162, 39%, 11%, 1) 0px, transparent 50%),
    radial-gradient(at 32% 51%, hsla(281, 39%, 11%, 1) 0px, transparent 50%);
}

body {
  text-align: center;
  overflow-x: hidden;
}

main {
  h1 {
    display: none;
  }
  max-width: 1600px;
  text-align: left;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

#logo {
  position: relative;
  z-index: 3;
  filter: invert(1) opacity(86%);
  margin: 0;
  left: 37%;
  margin-top: 10%;
  transform: scale(1.6);

  @media screen and (min-width: 768px) {
    left: 37%;
    margin-top: 10%;
    transform: scale(1.6);
  }
  @media screen and (min-width: 960px) {
    left: 20%;
    margin-top: -5%;
    transform: none;
  }
  @media screen and (min-width: 1600px) {
    left: 20%;
    margin-top: 0;
  }
}

#live-shot {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  height: 1300px;
  object-fit: cover;
  object-position: center;
  filter: grayscale(81%) contrast(101%);
}
