nav#nav-desktop,
nav#nav-desktop-secondary {
    display: none;
    @media (min-width: $lg) {
        display: inline-block;
    }
    position: absolute;
}

nav#nav-desktop {
    top: 10px;
    left: 0;
    ul#nav-desktop-pages {
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        li {
            font-size: 1.2em;
            line-height: 1em;
            max-width: 225px;
            padding: 15px 15px;
            &#nav-item-socials {
                padding: 0;
            }
            a,
            span {
                display: inline-block;
            }
        }
    }
    ul#nav-desktop-socials {
        display: flex;
        padding: 3px 10px 0 10px;
        gap: 3px;
        li {
            font-size: 1.2em;
            line-height: 1em;
            padding: 0;
            a {
                padding: 0;
            }
            svg {
                height: 1.2em;
                width: 1.2em;
            }
        }
    }
}

nav#nav-desktop-secondary {
    top: 0;
    right: 0;
    display: grid;
    align-items: center;
    justify-content: end;
    ul#nav-desktop-contact {
        justify-self: end;
        display: grid;
        align-items: center;
        justify-content: end;
        text-align: right;
        padding: 5px 10px;
    }
}
