#mobile-menu-open,
#mobile-menu-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    display: block;
    @media (min-width: 1024px) {
        display: none;
    }
    button {
        padding: 0;
        svg {
            height: 40px;
            width: 40px;
        }
    }
}

#mobile-menu {
    background-color: #000;
    background-image: linear-gradient(45deg, #000000, #7a3f58);
    color: #fff2f7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    display: block;
    @media (min-width: 1024px) {
        display: none;
    }
    ul.mobile-menu-list {
        display: grid;
        height: 100vh;
        width: 100vw;
        align-content: start;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: center;
        text-align: center;
        @media (min-height: 675px) {
            align-content: center;
        }
        li a {
            font-size: 2em;
            display: block;
            padding: 1em;
            line-height: 0.9em;
        }
        li.nav-item-contact {
            padding: 1em;
            a, span {
                padding: 0;
                line-height: 1em;
            }
            span {
                font-size: 1.2em;
                display: block;
                padding: 0;
            }
        }
    }
    ul#nav-mobile-socials {
        display: flex;
        justify-content: center;
        padding: 3px 10px 0 10px;
        gap: 3px;
        li {
            font-size: 1.2em;
            line-height: 1em;
            padding: 1em 0;
            a {
                padding: 0;
            }
            svg {
                height: 1.2em;
                width: 1.2em;
            }
        }
    }
}
