#mobile-menu-open,
#mobile-menu-close {
    display: block;
    @media (min-width: $lg) {
        display: none;
    }
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    button {
        padding: 0;
        svg {
            height: 40px;
            width: 40px;
        }
    }
}

#mobile-menu {
    display: block;
    @media (min-width: $lg) {
        display: none;
    }
    background-color: #000;
    background-image: linear-gradient(45deg, #000000, #7a3f58);
    color: #fff2f7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    ul {
        display: grid;
        height: 100vh;
        width: 100vw;
        align-content: center;
        justify-content: center;
        text-align: center;
        li a {
            font-size: 2em;
            display: block;
            padding: 0.5em 0;
        }
    }
}