.nav-item-default-state {
    transition: 100ms;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
}

.nav-item-hover-state {
    text-decoration: underline;
}
.nav-item-active-state {
    font-weight: bold;
    letter-spacing: 0.1em;
}

.nav-item {
    a {
      transition: 100ms;
      text-decoration: none;
      display: inline-block;
      font-style: italic;
    }
    a:hover,
    a:focus,
    a:active {
      text-decoration: underline;
    }
    &.active a {
      font-weight: bold;
      letter-spacing: 0.1em;
    }
}
