.nav-item-default-state {
    transition: 100ms;
    text-decoration: none;
    display: inline-block;
    font-style: italic;
}

.nav-item-hover-state {
    text-decoration: underline;
}
.nav-item-active-state {
    font-weight: bold;
    /* text-decoration: underline; */
    letter-spacing: 0.1em;
}

.nav-item {
    a {
        @apply nav-item-default-state;
    }
    a:hover,
    a:focus,
    a:active {
        @apply nav-item-hover-state;
    }
    &.active a {
        @apply nav-item-active-state;
    }
}
